.section_header {
    background: lightgrey;
    border: 1px solid lightgray;
    //border-radius: 3px;
    font-size: 1.2rem;
    position: absolute;
    top: -22px;
    left: -1px;
  }
  
  .section_body {
    background: lightgrey;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 1.2rem;
  }
  
  .title-border-box {
    margin-top: 30px;
    position: relative;
  }
  
  .align-center {
    display: flex;
    align-items: center;
  }